# core
.DS_Store
.env
.env*.local
output
dist
target
.idea
node_modules
package-lock.json
pnpm-lock.yaml
.vercel
private
private.*
private-*
scripts/run.ts

# archived repos (with .git history) are archived in https://github.com/past-nikiv and prefixed with archived- (so not included in this repo)
archived-*
try
